.aboutPage-main-container
{
    /* background-color: rgb(69, 64, 64); */
    height:850px;
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    font-family: 'Ubuntu', sans-serif;
    
    
}
.aboutpage-main-container-block
{
    display: flex;
    flex-direction: row;
    
    /* background-color: rgb(133, 58, 58); */ 
}

.aboutpage-sub-container-details
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: rgb(103, 102, 28);
     */
}

.aboutPage-sub-container-gridBox-text
{
    display: flex;
    flex-direction: column;
    background-color: #EAC435; ;
    width: 250px;
    height: 153px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px; 
    flex-wrap: wrap;
}

.aboutPage-img-prop
{
    width: 95%;
    height: 80%;
    margin-top: 30px;
  
    box-shadow: -10px 10px #FF4343;
    border-radius: 5px;
}

.aboutPage-badge-text
{
    font-size: 20px;
    color: #EAC435;
    font-family: 'Ubuntu', sans-serif;
}


.aboutPage-badge-img-prop
{
    height: 28px;
    width: 31px;
    margin-right: 2%;
}

.aboutPage-button
{
    display: flex;
    width: 25%;
    flex-direction: row;
    background-color: #16262E;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutpage-gridBox-main-container{
    display: flex;
    width: 96.5%;
    justify-content: space-between;
}

.aboutPage-mobile-main-container
{
    /* background-color: #FF4343;  */
    display: flex;
    flex-direction: column;
}

.aboutPage-mobile-container
{
    /* background-color: #EAC435; */
    display: flex;
}

.aboutPage-mobile-img-cert
{
    /* background-color: #5035ea; */
    display: flex;
    flex-direction: column;
}
.aboutPage-mobile-img-prop
{
    width: 90%;
    height: 70%;
    margin-top: 30px;
    object-fit: cover;
    object-position: 65% 0%;
    box-shadow: -10px 10px #FF4343;
    border-radius: 5px;
}
.aboutPage-mobile-img-cert
{
    display: flex;
    flex-direction: column;

}

.aboutPage-mobile-badge-img-prop
{
    height: 28px;
    width: 31px;
}

.aboutPage-mobile-badge-text
{
    font-size: 80%;
    color: #EAC435;
    font-family: 'Ubuntu', sans-serif;
}

.aboutPage-mobile-button
{
    display: flex;
    width: 50%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #16262E;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.aboutpage-mobile-gridBox-main-container{
    display: flex;
    width: 96.5%;
    justify-content: space-between;
}
.aboutpage-mobile-gridBox-main-container div
{
    flex: 1;
    margin-bottom: 5%;
}

.aboutPage-mobile-sub-container-gridBox-text
{
    display: flex;
    flex-direction: row;
    background-color: #EAC435; ;
    width: 250px;
    height: 153px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px; 
    margin-right: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
}