.desktop-aboutus-page-main-container
{
    /* background-color: rgb(69, 64, 64); */
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;

}

.desktop-aboutus-page-content-block{
    margin-top: 1%;
    display: flex;
}

.desktop-aboutus-page-image-container
{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desktop-aboutus-page-content-container
{
    flex: 1;
}

.desktop-aboutus-page-text-box{
    margin-top: 5%;
    height: 42.5%;
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desktop-aboutus-page-certificate-container{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.desktop-aboutus-page-badges{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.desktop-aboutus-page-badges:hover .desktop-aboutus-page-badge-icon {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.20));
    cursor: pointer;
    transition: 0.5s ease;
}

.desktop-aboutus-page-badges:hover .desktop-aboutus-page-badge-text {
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.20));
    cursor: pointer;
    transition: 0.5s ease;
}

.desktop-abutus-page-sub-container-gridBox-text
{
    display: flex;
    flex-direction: column;
    height: 175px;
    background-color: #EAC435;
    width: 22%;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px; 
    flex-wrap: wrap;
}

.desktop-aboutus-page-img-prop
{
    width: 90%;
    height: 90%;
    object-fit: cover;
    box-shadow: -10px 10px #FF4343;
    border-radius: 5px;
}

.desktop-aboutus-page-badge-text{
    font-size: 125%;
    color: #EAC435;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-aboutus-page-badge-icon{
    height: 20%;
    width: 20%;
    margin-right: 2%;
}

.desktop-aboutus-page-buttons-container{
    margin-top: 4%;
    height: 12%;
    display: flex;
    align-items: center;
}

.desktop-aboutus-page-buttons
{
    display: flex;
    width: 30%;
    height: 90%;
    background-color: #16262E;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Ubuntu', sans-serif;
    font-size: 110%;
    color: white;
    border: none;
    font-weight: 400;
}

.desktop-aboutus-page-buttons:hover{
    cursor: pointer;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.20));
    transition: 0.5s ease;
}

.desktop-aboutus-page-grids-main-container{
    height: 30%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.desktop-aboutus-page-grids-inner-container{
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.aboutPage-mobile-main-container
{
    /* background-color: #FF4343;  */
    display: flex;
    flex-direction: column;
}

.aboutPage-mobile-container
{
    /* background-color: #EAC435; */
    display: flex;
}

.aboutPage-mobile-img-cert
{
    /* background-color: #5035ea; */
    display: flex;
    flex-direction: column;
}
.aboutPage-mobile-img-prop
{
    width: 90%;
    height: 70%;
    margin-top: 30px;
    object-fit: cover;
    object-position: 65% 0%;
    box-shadow: -10px 10px #FF4343;
    border-radius: 5px;
}
.aboutPage-mobile-img-cert
{
    display: flex;
    flex-direction: column;

}

.aboutPage-mobile-badge-img-prop
{
    height: 28px;
    width: 31px;
}

.aboutPage-mobile-badge-text
{
    font-size: 80%;
    color: #EAC435;
    font-family: 'Ubuntu', sans-serif;
}

.aboutPage-mobile-button
{
    display: flex;
    width: 50%;
    height: 70%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #16262E;
    border-radius: 5px;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.aboutpage-mobile-gridBox-main-container{
    display: flex;
    width: 96.5%;
    justify-content: space-between;
}
.aboutpage-mobile-gridBox-main-container div
{
    flex: 1;
    margin-bottom: 5%;
}

.aboutPage-mobile-sub-container-gridBox-text
{
    display: flex;
    flex-direction: row;
    background-color: #EAC435; ;
    width: 250px;
    height: 153px;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 10px; 
    margin-right: 5%;
    margin-left: 5%;
    flex-wrap: wrap;
}