.ClientPage-desk-Main-container
{
    background-color: #16262E;
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.ClientPage-desk-container
{
    /* background-color: rgb(255, 144, 9); */
    margin: 10% 5%;
    overflow: hidden;
    /* cursor: grab; */
   
    
    
    
}

.ClientPage-desk-Main-Corousel
{
    cursor: grab;
    overflow: hidden;
    /* background-color: red; */

}
.ClientPage-desk-inner-Corousel
{
    display: flex;
    /* background-color: aqua; */
}
.ClientPage-desk-item-image
{
    min-height: 30rem;
    min-width: 30rem;
    padding: 20px;
}
.ClientPage-desk-item-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;
}

/* MObile CSS */
.ClientPage-mobile-Main-container
{
    background-color: #16262E;
    display: flex;
    flex-direction: column;
    height: 1000px;
}
.ClientPage-mobile-container
{
    /* background-color: rgb(255, 144, 9); */
    margin: 40% 5%;
    overflow: hidden;
    /* cursor: grab; */
   
    
    
    
}

.ClientPage-mobile-Main-Corousel
{
    cursor: grab;
    overflow: hidden;
    /* background-color: red; */

}
.ClientPage-mobile-inner-Corousel
{
    display: flex;
    /* background-color: aqua; */
}
.ClientPage-mobile-item-image
{
    min-height: 20rem;
    min-width: 20rem;
    padding: 20px;
}
.ClientPage-mobile-item-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    pointer-events: none;
}