.desktop-footer-main-container{
    margin-top: 5%;
    background-color: #16262E;
    height: 500px;
}

.desktop-footer-content-container{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-footer-content-logo-container{
    height: 80%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-footer-content-logo-image-container{
    height: 85%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-footer-content-logo-text-container{
    height: 96%;
    width: 65%;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.desktop-footer-content-details-container{
    height: 80%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-footer-content-details-icon-container{
    height: 15%;
    width: 10%;
}

.desktop-footer-content-details{
    margin-top: 10%;
    height: 60%;
    width: 70%;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;

}

.desktop-footer-line {
    background-color: white;
    height: 1px;
    width: 60%;
}

.desktop-footer-navigation-container{
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-footer-navigation-button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 110%;
    color: white;
}

.desktop-footer-navigation-button-text{
    color: white;
}

.desktop-footer-navigation-button-text:hover{
    color: red;
    cursor: pointer;
    font-weight: 500;
}

.desktop-footer-signoff-container{
    margin-top: 4%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}