.desktop_Health_safety_main_container
{
    /* background-color: blue; */
    /* height: 1000px; */
    display: flex;
    flex-direction: column;
}
.desktop_Health_safety_heading_container
{
    display: flex;
}
.desktop-Health_safety-content-video-container
{
    height: 600px;
    border-radius: 10px;

   
}

.desktop-Healthy_safety-content-cards {
    width: 100%;
    height: 42.5%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: -10px 10px 0px #FF4343;
    margin: 2%;
  }
  .desktop-Health-safety-sub-container
  {
    justify-content: center;
    /* background-color: rgb(16, 109, 191); */
    display: flex;
  }