.desktop-header-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 2%;
    margin-top: 2%;
}

.desktop-header-line{
    background-color:#FF4343;
    width : 40%;
    height: 5px;
}

.desktop-header-container:hover {
    cursor: pointer;
}

.desktop-header-container:hover .desktop-header-line {
    width : 70%;
    transition: 0.4s ease;
}