.desktop-projectpage-main-container{
    display: flex;
    flex-direction: column;
}

.desktop-projectpage-cards-main-container
{
    margin-top: 2%;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-projectpage-cards{
    background-color: #16262E;
    height: 325px;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    border-radius: 5px;
    box-shadow: -10px 10px 0px #FF4343;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-projectpage-cards:hover{
    cursor: pointer;
}

.desktop-projectpage-cards:hover .desktop-projectpage-card-back{
    cursor: pointer;
}

.desktop-projectpage-cards-container{
    position: relative;
    background-color: white;
    height: 375px;
    width: 20%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 4%;
    border-radius: 5px;
    box-shadow: -10px 10px 0px #FF4343;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-projectpage-card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.desktop-projectpage-card-front{
    background: #16262E;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-projectpage-card-back{
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Ubuntu', sans-serif;
    filter: drop-shadow(-16px 16px 8px rgba(0, 0, 0, 0.25));
}

.desktop-projectpage-card-back-header{
    color: #FF4343;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.desktop-projectpage-card-back-description{
    font-weight: 300;
    font-size: 80%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.desktop-projectpage-card-back-video-container{
    height: 110%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.desktop-projectpage-card-back-video-icon{
    height: 80%;
    width: 15%;
}

.desktop-projectpage-card-back-video-play, .desktop-projectpage-card-back-video-play:link, .desktop-projectpage-card-back-video-play:visited, .desktop-projectpage-card-back-video-play:active {
    text-decoration: none;
    margin-left: 5%;
    color: #FF4343;
    font-weight: 400;
}

.desktop-projectpage-card-back-video-container:hover .desktop-projectpage-card-back-video-icon{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

.desktop-projectpage-card-back-video-container:hover .desktop-projectpage-card-back-video-play{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

.desktop-projectpage-card:hover{
    transform: rotateY(180deg);
    cursor: pointer;
}

.desktop-projectpage-cards-image-container{
    height: 75%;
    width: 90%;
}

.desktop-projectpage-cards-image{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.desktop-projectpage-video-card-container{
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.desktop-projectpage-video-cards{
    background: #16262E;
    height: 375px;
    width: 20%;
    box-shadow: -10px 10px 0px #FF4343;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.desktop-projectpage-video-card-video{
    height: 75%;
    width: 90%;
    border-radius: 5px;
}

.desktop-projectpage-cards-gallery-container{
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.desktop-projectpage-cards-gallery-icon{
    height: 75%;
    width: 7.5%;
}

.desktop-projectpage-cards-gallery-text{
    color: #e0b414;
    margin-left: 2%;
    margin-top: 1%;
}

.desktop-projectpage-cards-gallery-container:hover .desktop-projectpage-cards-gallery-icon{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

.desktop-projectpage-cards-gallery-container:hover .desktop-projectpage-cards-gallery-text{
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.25));
}

.desktop-projectpage-gallery-main-container{
    margin : 2%;
    margin-top: 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.desktop-projectpage-gallery-image-tile{
    height: 450px;
    width: 31%;
    margin-top: 2%;
    filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.25));
    transition: 0.25s;
}

.desktop-projectpage-gallery-image{
    position: absolute;
    height: 100%; 
    width: 100%;
    border-radius: 20px; 
    object-fit: cover;
}

/* .desktop-projectpage-gallery-image-tile:hover{
    transform: scale(1.2);
    cursor: pointer;
    z-index: 2;
} */

.desktop-projectpage-gallery-image-tile:hover {
    cursor: pointer;
    opacity: 0.8;
}

.desktop-projectpage-gallery-image-popup-modal{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 99%;
    height: 99%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.desktop-projectpage-gallery-image-popup-modal-close-button-container{
    width: 98%;
    height: 8%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.desktop-projectpage-gallery-image-popup-modal-close-button, .desktop-projectpage-gallery-image-popup-modal-close-button:focus{
    background: none;
    border: none;
    outline: none;
}

.desktop-projectpage-gallery-image-popup-image-container{
    width: 98%;
    height: 90%;
    border-radius: 20px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ++++++++++++++++++++++++++++++ Styling properties for Mobile ++++++++++++++++++++++++++++++++++++++ */

.mobile-projectpage-cards-main-container
{
    margin-top: 10%;
    height: 80%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-projectpage-cards-container{
    background-color: white;
    height: 400px;
    width: 90%;
    margin-top: -3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 15%;
    border-radius: 5px;
    box-shadow: -10px 10px 0px #FF4343;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.mobile-projectpage-card-unturned{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.mobile-projectpage-card-front{
    background: #16262E;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.mobile-projectpage-card-back{
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    filter: drop-shadow(-16px 16px 8px rgba(0, 0, 0, 0.25));
}

.mobile-projectpage-card-turned{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    transform: rotateY(180deg);
    cursor: pointer;
}


.mobile-projectpage-cards-info-container{

    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-projectpage-cards-info-container:active{
    opacity: 0.8;
}

.mobile-projectpage-cards-info-icon{
    height: 75%;
    width: 7%;
}

.mobile-projectpage-cards-info-icon:active{
    opacity: 0.9;
}

.mobile-projectpage-cards-flip-container{
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-projectpage-card-back-video-container{
    height: 110%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mobile-projectpage-card-back-video-icon{
    height: 80%;
    width: 15%;
}

.mobile-projectpage-card-back-video-play, .mobile-projectpage-card-back-video-play:link, .mobile-projectpage-card-back-video-play:visited, .mobile-projectpage-card-back-video-play:active {
    text-decoration: none;
    margin-left: 5%;
    color: #FF4343;
    font-weight: 400;
}

.mobile-projectpage-card-back-video-container:active .mobile-projectpage-card-back-video-icon{
    opacity: 0.5;
}

.mobile-projectpage-card-back-video-container:active .mobile-projectpage-card-back-video-play{
    opacity: 0.5;
}

.mobile-projectpage-videocard-main-container{
    margin: 4%;
}

.mobile-projectpage-videocard{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    background: #16262E;
    height: 400px;
    box-shadow: -10px 10px 0px #FF4343;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-projectpage-video-container{
    width: 90%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.mobile-projectpage-gallery-popup-content-container{
    width: 100%;
    height: 92.5%;
    overflow-y: scroll;
}

.mobile-projectpage-gallery-main-container{
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-projectpage-gallery-image-tile{
    width: 45%;
    height: 175px;
    margin-bottom: 4%;
    filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.20));
}