.desktop-service-page-main-container
{
    background-color:#16262E;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-servicepage-content-main-container
{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  height: 1100px;
}

.desktop-servicepage-content-inner-container{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5%;
  flex-wrap: wrap;
}


.desktop-servicepage-content-cards {
  width: 30%;
  height: 42.5%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px 10px 0px #FF4343;
}

  .desktop-servicepage-card-img
  {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

.desktop-servicepage-card-text
{
    font-size: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.desktop-servicepage-card-header 
{
  margin-top: 5%;
  font-size: 200%;  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.desktop-servicepage-card-button, .desktop-servicepage-card-button:focus{
  background: #EAC435;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.desktop-servicepage-card-button:hover{
  box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/* ++++++++++++++++++++++++++++++ Styling properties for Mobile ++++++++++++++++++++++++++++++++++++++ */

.mobile-service-page-main-container
{
  background-color:#16262E;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.mobile-servicepage-content-main-container
{ 
  margin-top: 10%;
  height: 2500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-servicepage-content-cards {
  width: 85%;
  height: 425px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px 10px 0px #FF4343;
}

.mobile-servicepage-card-img
{
  margin-top: 10%;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mobile-servicepage-card-header 
{
  margin-top: 10%;
  font-size: 150%;  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.mobile-servicepage-card-text
{
    font-size: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.mobile-servicepage-card-button{
  background: #EAC435;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  border: none;
  color: black;
}

.mobile-servicepage-card-button:active{
  opacity: 0.9;
  cursor: pointer;
}
