.desktop-service-page-main-container
{
    background-color:#16262E;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.desktop-servicepage-content-main-container
{ 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  height: 1100px;
}

.desktop-servicepage-content-inner-container{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5%;
  flex-wrap: wrap;
}


.desktop-servicepage-content-cards {
  width: 30%;
  height: 42.5%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px 10px 0px #FF4343;
}

  .desktop-servicepage-card-img
  {
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
  }

.desktop-servicepage-card-text
{
    font-size: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}

.desktop-servicepage-card-header 
{
  margin-top: 5%;
  font-size: 200%;  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.desktop-servicepage-card-button, .desktop-servicepage-card-button:focus{
  background: #EAC435;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  border: none;
  outline: none;
}

.desktop-servicepage-card-button:hover{
  box-shadow: -2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.desktop-popup-service-main-content-container{
  width: 100%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-popup-service-content{
  width: 96%;
}

.desktop-popup-service-main-image-container{
  width: 100%;
  height: 100%;
}

.desktop-popup-service-content-electrical-gallery-container{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.desktop-popup-service-content-electrical-gallery-tiles{
  width: 30%;
  height: 400px;
  filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.25));
  margin-top: 2%;
}

.desktop-popup-service-content-electrical-gallery-tiles:last-child{
  margin-bottom: 5%;
}

.desktop-popup-service-content-electrical-gallery-tiles-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.desktop-popup-service-content-electrical-media-main-container{
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.desktop-popup-service-content-electrical-media-video-container{
  width: 55%;
  height: 600px;
  box-shadow: -10px 10px 0px #FF4343;
  border-radius: 20px;
}

.desktop-popup-service-content-electrical-media-video{
  border-radius: 20px;
}

.desktop-popup-service-content-electrical-media-buttons-container{
  width: 43%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop-popup-service-content-electrical-media-button{
  margin-top: 4%;
  border-radius: 10px;
  width: 70%;
  height: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  background: #16262E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.desktop-popup-service-content-electrical-media-button:hover{
  cursor: pointer;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.20));
  text-decoration: none;
}

/* ++++++++++++++++++++++++++++++ Styling properties for Mobile ++++++++++++++++++++++++++++++++++++++ */

.mobile-service-page-main-container
{
  background-color:#16262E;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.mobile-servicepage-content-main-container
{ 
  margin-top: 10%;
  height: 3000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-servicepage-content-cards {
  width: 85%;
  height: 425px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px 10px 0px #FF4343;
}

.mobile-servicepage-card-img
{
  margin-top: 10%;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.mobile-servicepage-card-header 
{
  margin-top: 10%;
  font-size: 150%;  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.mobile-servicepage-card-text
{
    font-size: 100%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
}

.mobile-servicepage-card-button{
  background: #EAC435;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  border: none;
  color: black;
}

.mobile-servicepage-card-button:active{
  opacity: 0.9;
  cursor: pointer;
}

.mobile-popup-service-main-content-container{
  width: 100%;
  margin-top: 4%;
}

.mobile-service-popup-content-container{
  width: 100%;
  overflow-y: scroll;
}

.mobile-popup-service-main-image-container{
  width: 100%;
  height: 400px;
}

.mobile-service-popup-content-main-container{
  margin-top: 3%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.mobile-popup-service-content-electrical-gallery-tiles{
  width: 95%;
  height: 300px;
  filter: drop-shadow(-8px 8px 6px rgba(0, 0, 0, 0.25));
  margin-top: 2%;
}

.mobile-popup-service-content-electrical-media-main-container{
  margin-top: 10%;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-popup-service-content-electrical-media-video-container{
  width: 90%;
  height: 400px;
  box-shadow: -10px 10px 0px #FF4343;
  border-radius: 20px;
}

.mobile-popup-service-content-electrical-media-buttons-container{
  width: 95%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-popup-service-content-electrical-media-button{
  margin-top: 4%;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 110%;
  background: #16262E;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.mobile-popup-service-content-electrical-media-button:active, .mobile-popup-service-content-electrical-media-button:focus{
  opacity: 0.8;
  text-decoration: none;
}